@use '../../../styles/utils' as *;

.card {
  background-color: $white-color;
  border: 1px solid $elements-color;
  background-color: $white-color;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}
